# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Editor
.vscode/
.idea/

# Dependencies
node_modules/

# Build
dist/
build/

# Deployment
.netlify/
.wrangler/
.cloudflare/

# Development
*.log
.env
